<%- include('./shared/logheader.ejs')%>
<section class="container">
    <div class="columns is-multiline">
        <div class="column is-10 is-offset-1 register">
            <div class="columns">
                <div class="column left">
                    <h1 class="title is-1">Error :(</h1>
                    <h2 class="subtitle is-4"><%= locals.message%></h2>
                    <p>Click <a href="/">here</a> to return home page.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<%- include('./shared/logfooter.ejs')%>